<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <header>
    <h1>Andrew Slattery</h1>
    <h2><a href="mailto:aws46@cam.ac.uk">aws46<span class="fake-at"></span>cam.ac.uk</a></h2>
    <h2>Research Associate in Category Theory at the <a href="https://www.cam.ac.uk/">University of Cambridge</a>, <a href="https://www.cst.cam.ac.uk/">Department of Computer Science and Technology</a></h2>
    <h2><a href="https://orcid.org/0009-0008-4933-821X">ORCID</a> | <a href="/files/CV/CV_Andrew_Slattery.pdf">CV</a></h2>
  </header>

  <main>
    {{ content }}
  </main>
</body>
</html>
